@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.body {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2rem;
  margin: auto;
}

.container {
  height: 75vh;
  width: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: cornflowerblue;
  margin: auto;
}

.text {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
.text span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: text 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes text {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-190px);
  }
  60% {
    transform: translateY(190px);
  }
}
